body {
  background-color: #F5F5F5;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
}

.header {
  color: #ead7d7;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0px;
}

#input-form {
  display: flex;
  flex-direction: column;
}

#todo-box {
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.1), 0px 10px 30px -10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 300px) {
  #todo-box {
    width: 300px;
    margin: 0px auto;
  }
}

#input-bar {
  padding: 16px;
  padding-left: 40px;
  border: none;
  color: #4d4d4d;
  /* border-bottom: 1px solid #ededed; */
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

ul {
  margin: 0px;
}

#todo-list-box {
  position: relative;
  color: #4d4d4d;
}

.toggle-all {
	text-align: center;
	border: none;
	opacity: 0;
  position: absolute;
  z-index: -1;
}

.toggle-all + label {
  font-size: 0;
  text-align: center;
	position: absolute;
	top: -38px;
  left: -5px;
  padding: 5px 20px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.toggle-all + label::before {
	content: 'â¯';
  font-size: 1rem;
  padding: 5px 0px;
  color: #e6e6e6;
}

.toggle-all:checked + label::before {
	color: #737373;
}

#todo-list {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

#todo-list > li {
  display: flex;
  padding: 10px 0px;
  background-color: white;
  border-bottom: 1px solid #ededed;
}

#todo-list > li > .todo-toggle {
  position: absolute;
  left: -9999px;
}

#todo-list > li > #todo-label {
  flex-grow: 1;
  word-break: break-all;
  padding-left: 30px;
}

.todo-toggle-label::before {
  position: absolute;
  left: 5px;
  content: "";
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0.5px solid #ededed;
  border-radius: 30px;
}

.todo-toggle:checked + .todo-toggle-label::before {
  content: '\2713\0020';
  text-align: center;
  line-height: 20px;
  color: lightgreen;
}

#todo-list > li > button {

}